@media screen and (max-width:900px) {
     body {
        /* font-size: 3em; */
    }

    .profile-container {
     display: block;
     padding: 5em 0;
    }

    .profile_pic {
        width: 10%;
        height: 10%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }

    .about__experience {
        display: flex;
        flex-wrap: wrap;
    }

    .skills__container {
        display: block;
        margin: 0 0;
        padding: 5em 5em;
    }

    .developement__skills {
       padding: 5em 5em;
        margin: 0em 0em 3em 0em;
    }

    .project__containers {
        display: block;
        padding: 5em 5em;
    }

    .project__advertisement {
         margin: 0em 0em 3em 0em;
    }

    .title {
        margin: 2em;
    }

    






    }
